<section class="section-about">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src="assets/images/ymk.jpg">
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12 center">
                <h1><span class="heading-highlight">Yogesh </span>Kadam </h1>
                <p>
                    The journey is never about a shot but the unsaid stories within the shooting experience.The quest within is of something which is ‘epiphanic’. 
                    </p>
<p>
As an artist whose medium of bringing the art to the world is an intent of compartmentalising the moments, I am all about things which are not seen by the naked eye but a soul which feels what cannot be said through any other medium.</p>
<p>
The world is material but I am still looking for a metaphor in it. Anything which can allow me the space to create what is not felt is the domain I am looking for.</p>
<p>
People. Photographs. Perfection.</p>
            </div>
        </div>
    </div>
</section>
