.section-join-us{
    form{
        h1{
            margin-bottom:50px;
            font-weight:normal;
        }
        margin:70px 0;
        button{
            margin:30px auto 0;
            display: table;
        }   
    
    }
}