<section class="client-info">
    <div class="container">

        <div class="col-sm-12 center">
            <h1>Our <span class="heading-highlight">Work </span></h1>
        </div>

        <div class="row">
            <div *ngFor="let data of clientInfo; index as i" class="col-lg-4 col-md-4 col-sm-12">
                <div class="panel">
                   <div class="panel-body {{data.clientimg}}-{{i+1}}">
                       <a><img src="assets/images/stories/story{{i+4}}.jpg"></a>
                    </div>
             </div>
            </div>
        </div>
    </div>
</section>


<section class="client-speak">
    <div class="container">
        <div class="col-sm-12 center">
            <h1>Videos <span class="heading-highlight"> </span></h1>
        </div>
        <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ardtvdR28SQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ardtvdR28SQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
             <div class="col-lg-6 col-md-6 col-sm-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ardtvdR28SQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
             <div class="col-lg-6 col-md-6 col-sm-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ardtvdR28SQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        
    </div>
</section>