.trusty{
    padding-top: 70px;
        text-align: center;
        .col{
            margin-bottom:30px;
        }
		img{
			border-radius:50%;
			overflow:hidden;
			margin:0 auto;
        }
        h1{
            margin-bottom:30px;
        }
		h6{
			margin-bottom:0;
			margin-top:15px;
			line-height:18px;
		}

}