<section class="trusty">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1>Testimonials</h1>
             </div>
            <div *ngFor="let list of testimonials; index as i" class="col col-lg-4 col-md-4 col-sm-12">
                    <img src="assets/images/testimonials/client{{i+1}}.jpg" alt="" width="100%">
                    <h6>{{list.name}}</h6> 
                    <p>{{list.post}}</p>
                    <p> {{list.desc}}</p>
            </div>
          
            </div>
    </div>
</section>
