<!-- <app-inner-page-header></app-inner-page-header> -->
<section class="section-contact">
    <div class="container">
    <div class="row">

        <div class="col-sm-12">
           <form>
            <h1 class="center">Let's create <span class="heading-highlight">magic</span></h1>
            <p>You can draft an email to us on the above mentioned address, 
                or can send us the details by filling the form below.</p>
                <div class="row form-group">
                    <div class="col">
                        <input type="text" class="form-control" id="name" placeholder="Your Name" name="name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="yourMail" placeholder="Your Mail" name="yourMail">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="country" placeholder="Country" name="country">
                    </div>
                </div>
              <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Connect</button>
            </form>
        </div>

    </div>

   </div>    
     
</section>
